:root {
  --container-width: 58.5rem;

  // Z-index
  --pop-z-index-level-1: 10;
  --pop-z-index-level-2: 20;
  --pop-z-index-level-3: 30;
  --pop-z-index-level-4: 40;
  --pop-z-index-level-5: 50;
  --pop-z-index-level-6: 60;
  --pop-z-index-level-7: 70;
  --pop-z-index-level-8: 80;
  --pop-z-index-level-9: 90;
  --pop-z-index-level-10: 100;
}
