:root {
  --ts-type-size-28: 1.75rem; // 28px
  --ts-type-size-24: 1.5rem; // 24px
  --ts-type-size-18: 1.125rem; // 18px
  --ts-type-size-16: 1rem; // 16px
  --ts-type-size-14: 0.875rem; // 14px
  --ts-type-size-12: 0.75rem; // 12px

  --ts-type-line-height-38: calc(38 / 28); // 38px
  --ts-type-line-height-34: calc(34 / 24); // 34px
  --ts-type-line-height-28: calc(28 / 18); // 28px
  --ts-type-line-height-26: calc(26 / 16); // 26px
  --ts-type-line-height-24: calc(24 / 14); // 24px
  --ts-type-line-height-22: calc(22 / 12); // 22px
}
