/*
  1. Heading
  2. Body text - Regular
  3. Body text - Medium
  4. Body text - Bold
*/

// 1. Heading
@mixin pop-type-h1 {
  font-family: "GothamBlack", sans-serif;
  font-size: 1.75rem;
  line-height: 2.375rem;
}

@mixin pop-type-h2 {
  font-family: "GothamBlack", sans-serif;
  font-size: 1.375rem;
  line-height: 2.125rem;
}

@mixin pop-type-h3 {
  font-family: "GothamBlack", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin pop-type-h4 {
  font-family: "GothamBlack", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
}

// 2. Body text - Regular
@mixin pop-type-body-18-regular {
  font-family: "GothamRegular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin pop-type-body-16-regular {
  font-family: "GothamRegular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin pop-type-body-14-regular {
  font-family: "GothamRegular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

@mixin pop-type-body-12-regular {
  font-family: "GothamRegular", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

// 3. Body text - Medium
@mixin pop-type-body-18-medium {
  font-family: "GothamMedium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin pop-type-body-16-medium {
  font-family: "GothamMedium", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin pop-type-body-14-medium {
  font-family: "GothamMedium", sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

@mixin pop-type-body-12-medium {
  font-family: "GothamMedium", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

// 4. Body text - Bold
@mixin pop-type-body-18-bold {
  font-family: "GothamBold", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin pop-type-body-16-bold {
  font-family: "GothamBold", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin pop-type-body-14-bold {
  font-family: "GothamBold", sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

@mixin pop-type-body-12-bold {
  font-family: "GothamBold", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
