@use "../mixins/mixins.index" as *;

// Wrapper class is used to avoid potential CSS clashes
html.pop-redesign {
  .pop-basket {
    @include flex-container($direction: column, $justify: initial);
    margin-bottom: var(--pop-space-56);
    padding-inline: var(--pop-space-12);

    @media (max-width: 800px) {
      margin-bottom: var(--pop-space-88);
    }
  }

  .steps-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-block: var(--pop-space-48);
    max-width: 100%;
    width: var(--container-width);

    @media (max-width: 800px) {
      margin-block: var(--pop-space-24) var(--pop-space-40);
    }
  }

  .step {
    @include flex-container($direction: column);
    pointer-events: none;

    &__number {
      @include flex-container;
      @include pop-type-body-16-medium;
      background-color: transparent;
      border: 2px solid var(--pop-color-neutral-400);
      border-radius: 50%;
      color: var(--pop-color-neutral-400);
      height: 2rem;
      width: 2rem;
    }

    &__label {
      @include pop-type-body-16-medium;
      color: var(--pop-color-neutral-400);
      margin-block: var(--pop-space-8) var(--pop-space-12);
      text-align: center;
    }

    &__timeline {
      position: relative;
      background-color: var(--pop-color-neutral-300);
      height: 4px;
      margin-top: auto;
      width: 100%;

      &::before {
        position: absolute;
        @include center-y;
        left: 0;
        content: "";
        background-color: var(--pop-color-neutral-100);
        border: 4px solid var(--pop-color-neutral-300);
        border-radius: 50%;
        height: 14px;
        width: 14px;
      }
    }

    @media (max-width: 800px) {
      &__number {
        @include pop-type-body-14-regular;
        border: 1px solid var(--pop-color-neutral-500);
        color: var(--pop-color-neutral-500);
        height: 1.625rem;
        margin-left: var(--pop-space-12);
        width: 1.625rem;
      }

      &__label {
        @include pop-type-body-14-regular;
        color: var(--pop-color-neutral-500);
        margin-block: var(--pop-space-4) var(--pop-space-12);
        margin-left: var(--pop-space-12);
      }

      &__timeline {
        height: 2px;

        &::before {
          border: 2px solid var(--pop-color-neutral-300);
          height: 12px;
          width: 12px;
        }
      }
    }
  }

  .step--completed {
    pointer-events: initial;

    .step__number {
      position: relative;
      background-color: var(--pop-color-neutral-600);
      color: var(--pop-color-neutral-600);
      border: none;

      &::after {
        position: absolute;
        @include center-xy;
        content: "";
        background-image: url("../../assets/iconset/check-medium.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .step__label {
      @include pop-type-body-16-medium;
      color: var(--pop-color-neutral-600);
    }

    .step__timeline {
      background-color: var(--pop-color-cyan-500);

      &::before {
        border: 4px solid var(--pop-color-cyan-500);
      }
    }

    @media (max-width: 800px) {
      .step__number {
        @include pop-type-body-14-medium;

        &::after {
          height: 1.125rem;
          width: 1.125rem;
        }
      }

      .step__label {
        @include pop-type-body-14-medium;
      }

      .step__timeline::before {
        border: 2px solid var(--pop-color-cyan-500);
      }
    }
  }

  .step--current {
    .step__number {
      @include pop-type-body-16-bold;
      background-color: var(--pop-color-neutral-800);
      border: none;
      color: var(--pop-color-neutral-white);
    }

    .step__label {
      @include pop-type-body-16-bold;
      color: var(--pop-color-neutral-800);
    }

    .step__timeline {
      background-color: var(--pop-color-cyan-500);

      &::before {
        border: 4px solid var(--pop-color-cyan-500);
      }
    }

    @media (max-width: 800px) {
      .step__number {
        @include pop-type-body-14-bold;
      }

      .step__label {
        @include pop-type-body-14-bold;
      }

      .step__timeline::before {
        border: 2px solid var(--pop-color-cyan-500);
      }
    }
  }

  .step-heading {
    @include pop-type-h1;
    color: var(--pop-color-neutral-800);
    margin-bottom: var(--pop-space-32);
    text-align: center;

    @media (max-width: 800px) {
      @include pop-type-h2;
      margin-bottom: var(--pop-space-24);
    }
  }

  .basket {
    @include flex-container($direction: column);
    gap: var(--pop-space-8);
    max-width: 100%;
    width: var(--container-width);
  }

  .basket-item {
    @include flex-container;
    background-color: var(--pop-color-neutral-white);
    padding: var(--pop-space-24);
    width: 100%;

    &__content {
      @include flex-container;
      width: 100%;
    }

    &__image {
      height: 80px;
      width: 80px;
    }

    &__inner {
      @include flex-container($justify: space-between);
      margin-inline: var(--pop-space-24) auto;
      width: 100%;

      @media (max-width: 379px) {
        margin-left: var(--pop-space-12);
      }
    }

    &__label {
      @include pop-type-body-14-medium;
      color: var(--pop-color-neutral-800);
      max-width: 100%;
      width: 11rem;
    }

    &__selectors {
      @include flex-container;
      gap: var(--pop-space-48);
      margin-inline: auto;

      .quantity-picker {
        @include flex-container;
        gap: var(--pop-space-4);
        border: 1px solid var(--pop-color-neutral-400);
        height: 2.125rem;
        padding: 0.125rem;

        &__button {
          all: unset;
          @include flex-container;
          background-color: var(--pop-color-neutral-700);
          cursor: pointer;
          fill: var(--pop-color-neutral-white);
          height: 28px;
          width: 28px;

          &:hover:not(.quantity-picker__button--inactive) {
            background-color: var(--pop-color-neutral-800);
          }

          &--inactive {
            background-color: var(--pop-color-neutral-100);
            fill: var(--pop-color-neutral-400);
          }
        }

        &__amount {
          @include flex-container;
          @include pop-type-body-14-medium;
          color: var(--pop-color-neutral-700);
          cursor: default;
          width: 28px;
        }
      }
    }

    &__price-container {
      @include flex-container;
      flex-shrink: 0;
      gap: var(--pop-space-36);
    }

    &__price {
      @include pop-type-body-14-bold;
      color: var(--pop-color-neutral-800);
    }

    &__remove {
      @include flex-container;
      fill: var(--pop-color-neutral-500);
      height: 2.25rem;
      width: 2.25rem;

      &:hover {
        background-color: var(--pop-color-red-100);
        fill: var(--pop-color-red-500);
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
      padding: var(--pop-space-12);

      &__image {
        height: 100px;
        width: 100px;
      }

      &__label {
        @include pop-type-body-16-bold;
        width: initial;
      }

      &__inner {
        flex-direction: column;
        align-items: initial;
        gap: var(--pop-space-16);
        margin-left: var(--pop-space-16);
      }

      &__selectors {
        gap: initial;
        justify-content: space-between;
        margin-inline: initial;
      }

      &__price-container {
        justify-content: space-between;
        margin-top: var(--pop-space-16);
        width: 100%;
      }

      &__price {
        @include pop-type-body-16-bold;
        order: 1;
      }

      &__remove {
        background-color: var(--pop-color-neutral-100);
        fill: var(--pop-color-neutral-500);
      }
    }
  }

  .basket-price {
    @include flex-container($direction: column);
    background-color: var(--pop-color-neutral-white);
    width: 100%;

    &__container {
      @include flex-container($justify: initial);
      height: 4.625rem;
      padding-inline: var(--pop-space-16);
      width: 100%;

      &:first-of-type {
        border-bottom: 1px solid var(--pop-color-neutral-200);
      }
    }

    &__label {
      @include pop-type-body-16-medium;
      color: var(--pop-color-neutral-800);
    }

    &__amount {
      @include pop-type-body-16-bold;
      color: var(--pop-color-neutral-800);
      margin-left: auto;
    }

    &__add-voucher,
    &__remove-voucher {
      @include flex-container;
      gap: var(--pop-space-8);
      @include pop-type-body-14-medium;
      color: var(--pop-color-neutral-600);
      cursor: pointer;
      fill: var(--pop-color-neutral-600);

      &:hover {
        color: var(--pop-color-neutral-800);
        fill: var(--pop-color-neutral-800);
      }
    }

    &__remove-voucher {
      display: none;
    }

    &__input.basket-price__input {
      display: none;
      margin-inline: var(--pop-space-24) var(--pop-space-8);
      width: 16.25rem;
    }

    &__button.basket-price__button {
      display: none;
    }

    @media (max-width: 800px) {
      &__container {
        padding: var(--pop-space-12);
      }

      &__container:not(:first-of-type) {
        flex-direction: column;
        gap: var(--pop-space-12);
        align-items: initial;
      }

      &__add-voucher {
        margin-block: var(--pop-space-8) var(--pop-space-8);
      }

      &__input {
        margin-inline: initial;
        width: 100%;
      }
    }
  }

  .basket-actions {
    @include flex-container($justify: space-between);
    margin-top: var(--pop-space-24);
    max-width: 100%;
    width: var(--container-width);

    @media (max-width: 800px) {
      position: fixed;
      bottom: 0;
      background: var(--pop-color-neutral-white);
      border-top: 1px solid var(--pop-color-neutral-300);
      padding: var(--pop-space-12) var(--pop-space-16);

      &__secondary-button.pop-button {
        padding-inline: initial;
        width: 2.625rem;
      }

      &__secondary-label {
        display: none;
      }
    }
  }

  .basket-form {
    @include flex-container($direction: column, $align: initial);
    gap: var(--pop-space-16);
    background-color: var(--pop-color-neutral-white);
    padding: var(--pop-space-24);
    width: 100%;

    &__heading {
      @include pop-type-h4;
      color: var(--pop-color-neutral-700);
    }

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--pop-space-24);
      row-gap: var(--pop-space-16);
    }

    &__city {
      display: grid;
      grid-template-columns: 1fr 5rem;
      gap: var(--pop-space-24);
    }
  }
}
