@use "../mixins/mixins.index" as *;

html.pop-redesign {
  .pop-input {
    display: flex;
    flex-direction: column;
    gap: var(--pop-space-4);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .pop-input__label {
    @include pop-type-body-12-medium;
    color: var(--pop-color-neutral-500);
    user-select: none;
  }

  .pop-input__field {
    @include flex-container($justify: initial);
    @include pop-type-body-14-medium;
    color: var(--pop-color-neutral-700);
    border: 1px solid var(--pop-color-neutral-400);
    height: 2.625rem;
    padding-inline: var(--pop-space-12);

    &:hover,
    &:focus {
      border-color: var(--pop-color-neutral-500);
      outline: none;
    }

    &::placeholder {
      color: var(--pop-color-neutral-500);
    }
  }

  .pop-input__state {
    @include pop-type-body-12-medium;
  }

  // Error state
  .pop-input--error {
    .pop-input__field {
      border-color: var(--pop-color-red-500);
    }

    .pop-input__state {
      color: var(--pop-color-red-500);
    }
  }
}
