@use "../mixins/mixins.index" as *;

.pop-banner {
  @include pop-type-body-12-medium;
  background-color: var(--pop-color-cyan-500);
  color: var(--pop-color-neutral-800);
  cursor: default;
  padding: var(--pop-space-4) var(--pop-space-16);
  text-align: center;
}
