@use "../mixins/mixins.index" as *;

html.pop-redesign {
  .pop-textarea {
    display: flex;
    flex-direction: column;
    gap: var(--pop-space-4);
  }

  .pop-textarea__label {
    @include pop-type-body-12-medium;
    color: var(--pop-color-neutral-500);
  }

  .pop-textarea__field {
    @include flex-container($justify: initial);
    @include pop-type-body-14-medium;
    color: var(--pop-color-neutral-700);
    border: 1px solid var(--pop-color-neutral-400);
    min-height: 6.25rem;
    padding: var(--pop-space-12);
    resize: vertical;

    &:hover,
    &:focus {
      border-color: var(--pop-color-neutral-500);
      outline: none;
    }

    &::placeholder {
      color: var(--pop-color-neutral-500);
    }
  }
}
