@use "../mixins/mixins.index" as *;

html.pop-redesign {
  .select-placeholder {
    @include flex-container($justify: space-between);
    @include pop-type-body-14-medium;
    border: 1px solid var(--pop-color-neutral-400);
    color: var(--pop-color-neutral-700);
    cursor: pointer;
    height: 2.625rem;
    padding-inline: var(--pop-space-12);
    user-select: none;

    &:hover {
      border: 1px solid var(--pop-color-neutral-500);
    }

    &--size {
      border: 1px solid var(--pop-color-neutral-400);
      height: 2.125rem;
      width: 6.25rem;
    }

    &--phone {
      border-right: transparent;
      height: 2.625rem;
      width: 6.25rem;

      &:hover {
        border: 1px solid var(--pop-color-neutral-400);
        border-right: transparent;
      }
    }

    &:hover {
      .select-placeholder__chevron {
        fill: var(--pop-color-neutral-800);
      }
    }

    &__chevron {
      fill: var(--pop-color-neutral-600);
    }
  }
}
