html.pop-redesign {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-color: var(--pop-color-neutral-100);
    font-family: "GothamRegular", sans-serif;
    margin: 0;
  }
}
