// Gotham
@font-face {
  font-family: "GothamRegular";
  src: url("../../fonts/gotham-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("../../fonts/gotham-medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("../../fonts/gotham-bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamBlack";
  src: url("../../fonts/gotham-black.otf");
  font-weight: 900;
  font-style: normal;
}
